# Data — CSV не коммитим
data/*
!data/.gitkeep
!data/geo/
data/geo/*
!data/geo/Melbourn_suburb.json
!data/geo/australian_postcodes.json

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
